{{ extends "base.tmpl" }}

{{define "meta" -}}
    <title>GoPipe</title>
    <meta property="og:title" content="GoPipe" />
    <meta property="og:site_name" content="GoPipe" />
    <meta property="og:description" content="Embed YouTube videos on Telegram, Discord and more!" />
{{end}}

{{define "content" -}}
        <hgroup>
            <h1>GoPipe</h1>
            <h2>Embed YouTube videos on Telegram, Discord and more!</h2>
        </hgroup>
        <p>GoPipe serves fixed YouTube video embeds. Heavily inspired by <a href="https://fxtwitter.com">fxtwitter.com</a> and <a href="https://ddinstagram.com">ddinstagram.com</a>.</p>

        <section>
            <header>
                <h3 style="margin-bottom: 4px">How to use</h3>
                <p>Replace <code>www.youtube.com</code> or <code>youtu.be</code> with <noscript id="changeme">this domain</noscript> to fix embeds for short videos.</p>
            </header>
            <video
                src="https://github.com/birabittoh/FixYouTube-legacy/assets/26506860/2896d39e-a86e-47ce-939a-785b73d11683"
                style="width: 100%; max-height: 100%;" autoplay loop muted>
                Your browser does not support the video tag.
            </video>
        </section>
{{end}}

{{define "scripts" -}}
<script>
    code = document.createElement('code');
    code.innerText = window.location.host;
    document.getElementById('changeme').replaceWith(code);
</script>
{{end}}
