<!DOCTYPE html>
<!--
███████ ██ ██   ██ ██    ██   ███   ██   ██ ██████ ██   ██ ██████  ███████
██      ██  ██ ██   ██  ██  ██   ██ ██   ██   ██   ██   ██ ██   ██ ██     
█████   ██   ███     ████   ██   ██ ██   ██   ██   ██   ██ ██████  █████  
██      ██  ██ ██     ██    ██   ██ ██   ██   ██   ██   ██ ██   ██ ██     
██      ██ ██   ██    ██      ███     ███     ██     ███   ██████  ███████
██
██  A better way to embed YouTube videos on Telegram (inspired by FixTweet).
██  -->
<html lang="en">

<head>
    <link rel="canonical" href="https://www.youtube.com/watch?v={{ .VideoID }}" />
    {{ if not .Debug }}
    <meta http-equiv="refresh" content="0;url=https://www.youtube.com/watch?v={{ .VideoID }}" />
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://www.youtube.com/watch?v={{ .VideoID }}" />
    <meta property="theme-color" content="0000FF" />
    <meta property="twitter:card" content="player" />
    <meta property="twitter:site" content="{{ .Uploader }}" />
    <meta property="twitter:creator" content="{{ .Uploader }}" />
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="GoTube ({{ .Uploader }})" />
    <meta property="twitter:image" content="{{ .Thumbnail }}" />
    <meta property="twitter:player:stream:content_type" content="video/mp4" />
    {{ if .VideoURL }}
    <meta property="og:video" content="{{ .VideoURL }}" />
    <meta property="og:video:secure_url" content="{{ .VideoURL }}" />
    <meta property="og:video:duration" content="{{ .Duration }}">
    <meta property="og:video:type" content="video/mp4" />
    {{ end }}
</head>

<body style="background-color: black;">
    {{ if .VideoURL }}
    <video style="display: block; margin: auto; width: 100%; max-width: 960px;" autoplay controls>
        <source src="{{ .VideoURL }}" type="video/mp4" />
    </video>
    {{ end }}
</body>

</html>