{{ extends "base.tmpl" }}

{{define "meta" -}}
    <title>{{ .Title }} - GoPipe</title>
    <link rel="canonical" href="https://www.youtube.com/watch?v={{ .VideoID }}" />
    <meta property="og:url" content="https://www.youtube.com/watch?v={{ .VideoID }}" />
    <meta property="theme-color" content="0000FF" />
    <meta property="twitter:card" content="player" />
    <meta property="twitter:site" content="{{ .Author }}" />
    <meta property="twitter:creator" content="{{ .Author }}" />
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="GoPipe ({{ .Author }})" />
    <meta property="twitter:image" content="{{ .Thumbnail }}" />
    <meta property="twitter:player:stream:content_type" content="{{ .MimeType }}" />
    {{ if .VideoURL }}
    <meta property="og:video" content="{{ .VideoURL }}" />
    <meta property="og:video:secure_url" content="{{ .VideoURL }}" />
    <meta property="og:video:duration" content="{{ .Duration }}">
    <meta property="og:video:type" content="{{ .MimeType }}" />
    {{ end }}
{{end}}


{{define "content" -}}
    <video style="width: 100%" autoplay controls>
        <source src="{{ .VideoURL }}" type="{{ .MimeType }}" />
        {{ range .Captions }}
        <track kind="subtitles" label="{{ .Language }}" src="/sub/{{ .VideoID }}/{{ .Language }}.vtt" srclang="{{ .Language }}" />
        {{ end }}
    </video>
    <h2>{{ .Title }}</h2>
    <h3>&gt; {{ .Author }}</h3>
    <pre style="white-space: pre-wrap">{{ .Description }}</pre>
    <form action="/download" method="post" rel="noopener" target="_blank" style="display: grid; grid-template-columns: auto auto; justify-content: space-between;">
        <input type="hidden" name="video" value="{{ .VideoID }}">
        <select name="itagno">
            <optgroup label="Audio & Video">
            {{ range .AudioVideoFormats }}
                <option value="{{ .ItagNo }}">
                    {{ parseFormat . }}
                </option>
                {{ end }}
            </optgroup>
            <optgroup label="Video only">
            {{ range .VideoFormats }}
                <option value="{{ .ItagNo }}">
                    {{ parseFormat . }}
                </option>
                {{ end }}
            </optgroup>
            <optgroup label="Audio only">
                {{ range .AudioFormats }}
                <option value="{{ .ItagNo }}">
                    {{ parseFormat . }}
                </option>
                {{ end }}
            </optgroup>
        </select>
        <button type="submit">Download</button>
    </form>
    <a href="https://www.youtube.com/watch?v={{ .VideoID }}">Watch on YouTube</a>
    <br />
    <a href="/">What is this?</a>
{{end}}
