<!DOCTYPE html>
<!--
███████ ██ ██   ██ ██    ██   ███   ██   ██ ██████ ██   ██ ██████  ███████
██      ██  ██ ██   ██  ██  ██   ██ ██   ██   ██   ██   ██ ██   ██ ██     
█████   ██   ███     ████   ██   ██ ██   ██   ██   ██   ██ ██████  █████  
██      ██  ██ ██     ██    ██   ██ ██   ██   ██   ██   ██ ██   ██ ██     
██      ██ ██   ██    ██      ███     ███     ██     ███   ██████  ███████
██
██  A better way to embed YouTube videos on Telegram (inspired by FixTweet).
██  -->
<html lang="en">

<head>
    <link rel="canonical" href="https://www.youtube.com/watch?v={{ .VideoID }}" />
    {{ if not .Debug }}
    <meta http-equiv="refresh" content="0;url=https://www.youtube.com/watch?v={{ .VideoID }}" />
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://www.youtube.com/watch?v={{ .VideoID }}" />
    <meta property="theme-color" content="0000FF" />
    <meta property="twitter:card" content="player" />
    <meta property="twitter:site" content="{{ .Uploader }}" />
    <meta property="twitter:creator" content="{{ .Uploader }}" />
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="GoTube ({{ .Uploader }})" />
    <meta property="twitter:image" content="{{ .Thumbnail }}" />
    <meta property="twitter:player:stream:content_type" content="video/mp4" />
    {{ if .VideoURL }}
    <meta property="og:video" content="{{ .VideoURL }}" />
    <meta property="og:video:secure_url" content="{{ .VideoURL }}" />
    <meta property="og:video:duration" content="{{ .Duration }}">
    <meta property="og:video:type" content="video/mp4" />
    {{ end }}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text fill=%22white%22 y=%22.9em%22 font-size=%2290%22>🛠</text></svg>">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    {{ if .VideoURL }}
    <main class="container" style="max-width: 35rem">
        <video style="width: 100%" autoplay controls>
            <source src="{{ .VideoURL }}" type="video/mp4" />
        </video>
        <h2>{{ .Title }}</h2>
        <h3>&gt; {{ .Uploader }}</h3>
        <p>{{ .Description }}</p>
        <a href="https://www.youtube.com/watch?v={{ .VideoID }}">Watch on YouTube.</a>
    </main>
    {{ end }}
</body>

</html>